<div class="content">
        <div class='ProjectDetails'>
                <div>
                        <h2 id='projectName'>{{projectName}}</h2>
                        <h4 id='projectDescription'>{{projectDesc}}</h4>
                </div>
                <div>
                        <h4 id='dueDateCountDown'>Due Date: {{projectDue}}</h4>
                        <h4 id='dueDateCountDown'>{{daysLeft}}</h4>
                </div>
        </div>

        <div class='container' id='taskManagementDisplay'>
                <div class='phaseDisplay' id='assignedtasks'>
                        <div id='assignTaskHeader'>
                        <h3 class='taskLabel'>Assigned</h3>
                        <a>+ Add Task</a>
                        </div>
                        <div class='taskDisplay'>
                                {{#each taskAssigned}}
                                <div class='assigned task' id={{id}}>
                                        <h6>{{name}}</h6>
                                        <p>{{days_left}}</p>
                                </div>
                                {{/each}}
                                <div id='buttSpace'></div>
                        </div>
                </div>
                <div class='phaseDisplay' id='inProgress'>
                        <h3 class='taskLabel'>In Progress</h3>
                        <div class='taskDisplay'>
                                {{#each taskInProgress}}
                                <div class='assigned task' id={{id}}>
                                        <h6>{{name}}</h6>
                                        <p>{{days_left}}</p>
                                </div>
                                {{/each}}
                                <div id='buttSpace'></div>
                        </div>
                </div>
                <div class='phaseDisplay' id='completedTasks'>
                        <h3 class='taskLabel'>Completed</h3>
                        <div class='taskDisplay'>
                                {{#each takCompleted}}
                                <div class='assigned task' id={{id}}>
                                        <h6>{{name}}</h6>
                                        <p>{{days_left}}</p>
                                </div>
                                {{/each}}
                                <div id='buttSpace'></div>
                        </div>
                </div>