<!-- Main container -->
<div class="container-nav">
        <header class="bp-header cf">
                <div class="dummy-logo">
                        <h2 class="dummy-heading">Mao Mun Tai</h2>
                </div>
        </header>
        <div>
                {{> navbar}}

                <div class='secretIDHolder' id={{projectID}}></div>
                <div class="content">
                        <div class='ProjectDetails'>
                                <div>
                                        <h2 id='projectName'>{{projectName}}</h2>
                                        <h4 id='projectDescription'>{{projectDesc}}</h4>
                                </div>
                                <div>
                                        <h4 id='dueDateCountDown'>Due Date: {{projectDue}}</h4>
                                        <h4 id='dueDateCountDown'>{{daysLeft}}</h4>
                                </div>
                        </div>

                        <div class='mainBody' id='taskManagementDisplay'>
                                <div class='phaseDisplay' id='assignedtasks'>
                                        <div id='assignTaskHeader'>
                                                <h3 class='taskLabel'>Assigned</h3>
                                                <a id='addTaskButton' data-toggle="modal" data-target="#addTaskModal">
                                                        + Add Task
                                                </a>

                                        </div>
                                        <div class='taskDisplay'>
                                                {{#each taskAssigned}}
                                                <div data-toggle="modal" data-target="#TaskModal" class='assigned task'
                                                        id={{id}}>
                                                        <h6 id={{id}}>{{name}}</h6>
                                                        <p id={{id}}>{{days_left}}</p>
                                                </div>
                                                {{/each}}
                                                <div id='buttSpace'></div>
                                        </div>
                                </div>
                                <div class='phaseDisplay' id='inProgress'>
                                        <h3 class='taskLabel'>In Progress</h3>
                                        <div class='taskDisplay'>
                                                {{#each taskInProgress}}
                                                <div data-toggle="modal" data-target="#TaskModal" class='assigned task'
                                                        id={{id}}>
                                                        <h6 id={{id}}>{{name}}</h6>
                                                        <p id={{id}}>{{days_left}}</p>
                                                </div>
                                                {{/each}}
                                                <div id='buttSpace'></div>
                                        </div>
                                </div>
                                <div class='phaseDisplay' id='completedTasks'>
                                        <h3 class='taskLabel'>Completed</h3>
                                        <div class='taskDisplay'>
                                                {{#each takCompleted}}
                                                <div data-toggle="modal" data-target="#TaskModal" class='assigned task'
                                                        id={{id}}>
                                                        <h6 id={{id}}>{{name}}</h6>
                                                        <p id={{id}}>{{days_left}}</p>
                                                </div>
                                                {{/each}}
                                                <div id='buttSpace'></div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

<div class="modal fade" id="addTaskModal">
        <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title" id="addTaskTitle">Add New Task</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <form>
                                        <div class="addTaskInput">
                                                <label>Task name:</label>
                                                <input id='taskName' type="text" required>
                                        </div>
                                        <div class="addTaskInput">
                                                <label>Task description:</label>
                                                <input id='taskDesc' type="text" required>
                                        </div>
                                        <div class="addTaskInput">
                                                <label>Due date:</label>
                                                <input id='taskDue' type="date" required>
                                        </div>
                                        {{!-- <div class="addTaskInput">
                                                <label>Priority:</label>
                                                <div class"radioInput">
                                                        <input type="radio" name="priority" value="1"><label>
                                                                &#160;&#160;Urgent AND Important</label><br>
                                                        <input type="radio" name="priority" value="2"><label>
                                                                &#160;&#160;Urgent but NOT Important</label><br>
                                                        <input type="radio" name="priority" value="3"><label>
                                                                &#160;&#160;NOT Urgent but Important</label><br>
                                                        <input type="radio" name="priority" value="4"><label>
                                                                &#160;&#160;NOT Urgent or Important</label><br>
                                                </div>
                                        </div> --}}
                                        <div id="inTheProject"></div>
                                        <div class="addTaskInput">
                                                <label>Add teammates:</label>
                                                <input id='userSearch' type="text" required>
                                        </div>
                                        <div id="nameList"></div>
                                </form>
                                <div id='subtaskButt'>

                                        <button id='subButton' type="button" class="btn btn-secondary"
                                                data-toggle="modal" data-target="#addSubTaskModal">Add
                                                subtask</button>
                                        <div id='subButt'></div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button id='taskSave' type="button" class="btn btn-primary">Save
                                        changes</button>
                        </div>
                </div>
        </div>
</div>


<div class="modal fade" id="addSubTaskModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="SubTaskModal">
                        <div class="modal-header">
                                <h5 class="modal-title" id="addTaskTitle">Add New Subtask</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <form>
                                        <div class="addTaskInput">
                                                <label>Subtask Name:</label>
                                                <input id='subtaskName' type="text" required>
                                        </div>
                                        <div class="addTaskInput">
                                                <label>Subtask Due Date:</label>
                                                <input id='subtaskDue' type="date" required>
                                        </div>
                                </form>

                        </div>
                        <div class="modal-footer">
                                <button id='subSave' type="button" class="btn btn-primary">Save
                                        subtask</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>

                        </div>
                </div>
        </div>
</div>


<div class="modal fade" id="TaskModal">
        <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title" id="TaskTitle">Task Detail</h5>
                                <div id='startButton'>
                                        <label>Start project:</label>
                                        <input type="checkbox" id="switch" /><label id="switchLabel"
                                                for="switch">Toggle</label>
                                </div>
                        </div>
                        <div id='TaskModalBody' class="modal-body">
                                <div id='TaskModalBodyBreak'>
                                        <h6>Description:</h6>
                                        <p id='TaskModalDescription'></p>
                                        <div id='subtaskCheck'>

                                        </div>
                                        <div id='TaskModalDetails'>
                                                <div id='TaskMemberList'>

                                                </div>
                                                <div id='TaskEditList'>

                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="modal-footer">
                                <button id='' type="button" class="btn btn-primary">Save
                                        changes</button>
                        </div>
                </div>
        </div>
</div>